.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
th,td{
    border: 2px solid pink;
    padding: 12px;
}
#data{
    margin-bottom: 12px;
}
#data input,button{
    padding: 10px;
    width: 90px;
}
